<div class="background-container">
  <img src="assets/images/LogoMoneyManager.svg" alt="Logo Money Manager" class="logo" />
  
  <mat-card class="cash-flow-container">
    <mat-toolbar color="primary">
      <span>Fluxo de Caixa</span>
    </mat-toolbar>

    <div class="month-selector">
      <button mat-button (click)="previousMonth()">←</button>
      <span>{{ currentMonth }} - Total: R$ {{ (totalEntries - totalExits) | number: '1.2-2' }}</span>
      <button mat-button (click)="nextMonth()">→</button>
    </div>

    <div class="totals">
      <mat-card>Total Entradas: R$ {{ totalEntries | number: '1.2-2' }}</mat-card>
      <mat-card>Total Saídas: R$ {{ totalExits | number: '1.2-2' }}</mat-card>
    </div>

    <form (ngSubmit)="addTransaction()" class="transaction-form">
      <div class="form-row">
        <mat-form-field appearance="fill">
          <mat-label>Descrição</mat-label>
          <input matInput [(ngModel)]="description" name="description" required>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Valor</mat-label>
          <input matInput type="number" [(ngModel)]="value" name="value" required>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Tipo de Transação</mat-label>
          <mat-select [(ngModel)]="transactionType" name="transactionType" required>
            <mat-option value="entrada">Entrada</mat-option>
            <mat-option value="saida">Saída</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <button mat-raised-button color="primary" type="submit" class="save-button">Salvar</button>
    </form>

    <div class="transactions">
      <h3>Transações:</h3>
      <div class="transaction-list">
        <mat-list>
          <mat-list-item *ngFor="let transaction of transactions" class="transaction-item">
            <span [ngClass]="{'red-text': transaction.type === 'saida'}">
              {{ transaction.description }} - R$ {{ transaction.value | number: '1.2-2' }} ({{ transaction.type }})
            </span>
            <div class="transaction-buttons">
              <button mat-button (click)="editTransaction(transaction)">Editar</button>
              <button mat-button color="warn" (click)="deleteTransaction(transaction)">Excluir</button>
            </div>
          </mat-list-item>
        </mat-list>
      </div>
    </div>
  </mat-card>

  <!-- Formulário para cotação do dólar -->
  <mat-card class="exchange-rate-container">
    <mat-toolbar class="exchange-rate-toolbar">
      <span class="toolbar-title">Cotação do Dólar</span>
    </mat-toolbar>

    <form (ngSubmit)="fetchExchangeRate()" class="exchange-rate-form">
      <div class="form-row">
        <mat-form-field appearance="fill">
          <mat-label>Compra</mat-label>
          <input matInput [(ngModel)]="exchangeRate.buy" name="buy" disabled>
          <span *ngIf="exchangeRate.buy">R$ {{ exchangeRate.buy | number: '1.2-2' }}</span>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Venda</mat-label>
          <input matInput [(ngModel)]="exchangeRate.sell" name="sell" disabled>
          <span *ngIf="exchangeRate.sell">R$ {{ exchangeRate.sell | number: '1.2-2' }}</span>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Variação (%)</mat-label>
          <input matInput [(ngModel)]="exchangeRate.variation" name="variation" disabled>
          <span *ngIf="exchangeRate.variation">{{ exchangeRate.variation | number: '1.2-2' }} %</span>
        </mat-form-field>
      </div>

      <button mat-raised-button color="primary" type="submit" class="fetch-button">Pesquisar</button>
    </form>
  </mat-card>
</div>
