.background-container {
    background-image: url('../assets/images/fundoMoneyManager.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
    padding: 20px;
    position: relative;
}

.cash-flow-container {
    background: rgba(255, 255, 255, 0.8);
    padding: 20px;
    max-width: 600px;
    margin: auto;
}

.transaction-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.transaction-list mat-list-item {
    flex: 1;
    min-width: 200px;
}

.transaction-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form-row {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.mat-form-field {
    flex: 1;
    min-width: 150px;
}

.totals {
    margin: 20px 0;
}

.mat-card {
    margin-bottom: 15px;
}

.transaction-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.transaction-buttons {
    margin-left: auto;
    display: flex;
    gap: 10px;
}

.logo {
    position: absolute;
    top: 20px;
    left: 20px;
    height: 200px;
    z-index: 1;
    filter: drop-shadow(2px 2px 5px rgba(255, 255, 255, 0.5));
}

.cash-flow-container mat-toolbar {
    display: flex;
    justify-content: center;
    background-color: #0C3E6B;
}

.cash-flow-container mat-toolbar span {
    text-align: center;
    color: #fff;
    font-size: 24px;
}

.save-button {
    background-color: #0C3E6B;
    color: white;
}

.month-selector {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
}

.month-selector span {
    font-size: 20px;
    color: #0C3E6B;
    margin: 0 10px;
}

.exchange-rate-container {
    background: rgba(255, 255, 255, 0.8);
    padding: 20px;
    max-width: 600px;
    margin: 20px auto;
}

.exchange-rate-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.fetch-button {
    background-color: #0C3E6B;
    color: white;
}

.exchange-rate-title {
    background-color: #0C3E6B;
    color: white;
}

.exchange-rate-toolbar {
    background-color: #0C3E6B;
    color: white;
    justify-content: center;
}

.toolbar-title {
    text-align: center;
    width: 100%;
}

@media (max-width: 600px) {
    .form-row {
        flex-direction: column;
    }

    .mat-form-field {
        width: 100%;
    }

    .transaction-buttons {
        flex-direction: column;
        align-items: stretch;
    }
}

@media (max-width: 768px) {
    .logo {
        display: block;
        margin: 0 auto;
        height: 150px;
        position: relative;
    }

    .background-container {
        padding-top: 2px;
        text-align: center;
    }
}
